body {
    margin: 0;
    padding: 0;
}
.cell {
    height: 1em;
    width: 1em;
    display: inline-block;
    position: relative;
    /* transform: rotateZ(360); */
    /* transition: background-color 0.4s ease-out; */
}

.alive {
    background-color: black;
}

.dead {
    background-color: white;
}
